<%- include("./header") -%>
              
            <div class="container">

               <div class="panel panel-info">
                        <div>
                           <h1 class="text-center m-3">UPDATE FORM</h1>
                        </div>

                        <div class="panel-body">

                            <form role="form" method="post" action="/updatepatient">

                                <div class="row">

                                <div class="form-group col-6">
                                    <label> Id</label>
                                    <input name="_id"
                                value="<%= data._id %>"  class="form-control" type="text" readonly>
                                </div>
                                <div class="form-group col-6">
                                    <label>Enter Patient Id</label>
                                    <input name="patient_id"
                                    value="<%= data.patient_id %>"  class="form-control" type="number">
                                </div>

                                <div class="form-group col-6">
                                    <label>Patient Name</label>
                                    <input name="patient_name"  value="<%= data.patient_name %>" class="form-control" type="text">
                                </div>

                                <div class="form-group col-6">
                                    <label>Patient Age</label>
                                    <input name="patient_age"  value="<%= data.patient_age %>" class="form-control" type="number">
                                </div>

                                <div class="form-group col-6">
                                    <label>Patient MobileNo</label>
                                    <input name="patient_mobileNo"  value="<%= data.patient_mobileNo %>" class="form-control" type="number">
                                </div>

                                <div class="form-group col-6">
                                    <label>Patient Disease</label>
                                    <input name="patient_disease"  value="<%= data.patient_disease %>" class="form-control" type="text">
                                </div>

                                <div class="form-group col-6">
                                    <label>patient address</label>
                                    <input name="patient_address"  value="<%= data.patient_address %>" class="form-control" type="text"></input>
                                </div>
                         
                                <div class="form-group col-12">
                                    <button type="submit" class="btn btn-info">Update Patient</button>
                                </div>                           
                                                     
                            
                            </div>
                            </form>

                            </div>
                        </div>
                            </div>


<%- include("./footer") -%>
    